@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
  font-family: 'EB Garamond', serif;
}

header {
  border-style: dotted;
  padding: 5px;
  margin: 5px;
}

main {
  border-style: dotted;
}

footer {
  border-style: dotted;
  padding: 5px;
  margin: 5px;
}

header {
  border-style: dashed;
  padding: 5px;
  margin: 5px;
}

section {
  border-style: dashed;
  padding: 5px;
  margin: 5px;
}

figure {
  border-style: dashed;
  padding:5px;
  margin: 5px;
}

article {
  border-style: dashed;
  padding: 5px;
  margin: 5px;
}
