@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
  font-family: 'EB Garamond', serif;
}

header {
  border-style: dotted;
  padding: 5px;
  margin: 5px;
}



main {
  border-style: dotted;
}

footer {
  border-style: dotted;
  padding: 5px;
  margin: 5px;
}

header {
  border-style: dashed;
  padding: 5px;
  margin: 5px;
}

section {
  border-style: dashed;
  padding: 5px;
  margin: 5px;
  margin-right: 200px;
}

aside {
  float:right;
  border-style: double;
  width: 200px;
  height: 200px;
  padding: 5px;
  background-color: #f0f0f0;
}

figure {
  border-style: dashed;
  padding:5px;
  margin: 5px;
}

article {
  border-style: dashed;
  padding: 5px;
  margin: 5px;
}
